$main--bcg-color-coral: #f38181;
$main--bcg-color-sand: #fce38a;
$main--bcg-color-aqua: #95e1d3;
$primary-white-color: #ffffff;
$primary-dark-color: #333333;
$secondary-dark-color: #999999;
$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$subtitle-font: 'Kaushan Script', sans-serif;
